@import '../variables.scss';

.task {
    min-height: 75px;
    display: flex;
    align-items: center;

    .content {
        flex-grow: 14;
        display: flex;
        align-items: center;
        .number {
            margin: 24px;
            font-size: 16px;
            color: #222B3A;
            background-color: #f3f3f3;
            border-radius: 3px;
            padding: 4px 0;
            width: 25px;
            text-align: center;
        }
        p{
            max-width: 85%;
        }
    }
    .checkbox {
        flex-grow: 1;
        margin-right: 25px;
    }
}
