@import '../variables.scss';

.task {
    min-height: 75px;
    display: flex;
    align-items: center;
    position: relative;

    .content {
        padding-right: 60px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #f3f3f3;
        &:last-child {
            border-bottom: none;
        }
        .number {
            margin: 24px;
            font-size: 16px;
            color: #222B3A;
            background-color: #f3f3f3;
            border-radius: 3px;
            padding: 4px 0;
            min-width: 25px;
            text-align: center;
            display: block;
        }
        p{
            max-width: 100%;
        }
    }
    .checkbox {
        position: absolute;
        right: 30px;
        margin-left: 30px;
        flex-grow: 2;
    }
}
