@import '../variables.scss';

.block {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    min-height: 180px;
    border: 1px solid #F3F3F3;
    border-radius: 3px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
    padding: 10px;
    position: relative;
    transition: all .4s;

    @media screen and (max-width: 550px) {
        padding: 15px;
        grid-template-columns: 30% 70%;
        grid-template-rows: 70px auto;
        grid-column-gap: 10px;
        grid-template-areas:
            'number bar'
            'maincontent maincontent';
        .content {
            grid-area: maincontent;
        }
    }

    &:hover {
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    }

    .number {
        color: $grey;
        font-weight: bold;
        font-size: 64px;
        justify-self: center;
        margin-right: 10px;
        font-family: 'Proxima Nova Light', sans-serif;
        margin-top: 13px;
        color: #E1E1E1;

        @media screen and (max-width: 550px) {
            grid-area: number;
            font-size: 40px;
            margin: 0;
            justify-self: start;
            align-self: center;
        }
    }

    .content{
        margin: 20px 0;
        h1 {
            font-size: 24px;
            margin-top: 0;
            color: $blue;
            text-transform: uppercase;
            font-family: 'Proxima Nova Light', serif;
            @media screen and (max-width: 550px) {
                margin: 0;
            }
        }
        h2 {
            font-size: 16px;
            color: #696969;
            span {
                color: #F2B94A;
                margin-left: 5px;
            }
        }
        h3 {
            color: $grey;
            font-size: 16px;
            font-family: 'Proxima Nova Liqght', sans-serif;
        }
        p {
            font-family: 'Proxima Nova Light', sans-serif;
            line-height: 27px;
            font-size: 16px;
            color: #696969;
        }
    }
    
    .bar {
        justify-self: center;
        h6{
            margin-top: 20px;
            font-size: 16px;
            font-weight: bold;
            color: $black;
        }
        .progressBar {
            margin-top: -20px;
        }
        @media screen and (max-width: 550px) {
            grid-area: bar;
            justify-self: flex-end;
            display: flex;
            flex-direction: row-reverse;
            align-items: baseline;
            margin-top: 5px;
            h6{
              font-size: 20px;
              margin-left: 5px;
            }
            .progressBar {
                width: 100%;
            }
        }
    }
}
