@import '../variables.scss';

.bg {
    background-color: #296DCE;
    min-height: 513px;
    position: relative;
    z-index: 1;
    overflow:hidden;

    &:before{
        content: ' ';
        position: absolute;
        top: 450px;
        left: -50%;
        border-width: 300px 700px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.07) rgba(255, 255, 255, 0.07);
        transform:rotate(-20deg);
        z-index: -1;
    
    }

    &:after{
        content: ' ';
        position: absolute;
        top: -390px;
        left: 200px;
        border-width: 300px 1000px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.07) rgba(255, 255, 255, 0.07);
        transform:rotate(12deg);
        z-index: -1;
    }

    .container{
        max-width: 1126px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;

        .content {

            h1{
                font-family: 'Intro bold', sans-serif;
                margin-top: 92px;
                text-transform: uppercase;
                font-weight: 100;
                font-size: 38px;
                line-height: 53px;
                color: #fff;
            }

            h2{
                font-family: 'Intro bold', sans-serif;
                font-size: 24px;
                line-height: 31px;
                text-transform: uppercase;
                color: #F1B008; 
                margin-top: 22px;
                margin-bottom: 52px;
                font-weight: 100;
            }
            .buttonContainer {
                margin-bottom: 72px;
            }
            .infoProgress {
                max-width: 468px;
                display: flex;
                justify-content: space-between;
                font-display: row;

                .info {
                    display: flex;
                    font-display: row;
                    align-items: center;
                }
                
                h1 {
                    font-family: 'Proxima Nova', sans-serif;
                    margin: 0;
                    font-weight: bold;
                    margin-right: 5px;
                }
                p {
                    margin: 0;
                    font-size: $fz-s;
                    line-height: 15px;
                    color: #fff;
                }
            }
        }

        img {
            transform: translateY(34px);
        }
    }
}