@import '../variables.scss';

.todoContainer {
    background-color: #fff;
    margin: 5px 0;
    min-height: 186px;
    border-radius: 3px;
    transition: all .4s;
    position: relative;
    &[active='1'] {
        border: 2px solid $orange; order: 0;
        .number{
            color: #fff;
            background-color: $orange;
        }
    }
    &[active='0'] {
        border: 2px solid #fafafa; order: 1;
        .number{
            color: $black;
            background-color: #fafafa;
        }
    }

    .number{
        font-size: 16px;
        margin-top: -1px;
        margin-left: -1px;
        width: 30px;
        padding: 6px 0;
        font-weight: bold;
        text-align: center;
        border-radius: 3px;
        @media screen and (max-width: 550px) {
            position: absolute;
            left: 17px;
            display: flex;
            top: 30px;
            padding: 5px;
            width: 30px;
            height: 30px;
            padding: 10px;
            align-items: center;
            justify-content: center;
        }
        
    }
    .block {
        display: flex;
        flex-direction: row;
        padding: 0 29px;
        align-items: center;

        @media screen and (max-width: 550px) {
            padding: 0 0 0 5px;
        }

        .icon {
            min-width: 120px;
            display: flex; 
            justify-content: center;
            @media screen and (max-width: 550px) {
                position: absolute;
                left: 60px;
                top: 20px;
                height: 45px;
                width: 45px;
            }

        }

        .content {
            max-width: 880px;
            width: 100%;
            display: flex;
            flex-grow: 6;
            flex-direction: column;
            margin: 0 30px;
            margin-top: -20px;

            @media screen and (max-width: 550px) {
                margin-top: 100px;
                flex-grow: 1;
                margin: 100px 10px 0;
            }

            span{
                color: $blue;
                font-size: 16px;
                font-family: 'Proxima Nova Light', sans-serif;
                margin-right: 20px;
            }

            .infoBar {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                .svgAndText {
                    display: flex;
                    flex-direction: row;
                    margin-right: 20px;
                    align-items: center;

                    p {
                        margin-left: 8px;
                        font-family: 'Proxima Nova Light',sans-serif;
                        font-weight: 500;
                        color: $grey;
                        font-size: 16px;
                    }
                }
            }
            .text {
                font-size: 24px;
                margin-top: 0;
                font-family: 'Proxima Nova Light', sans-serif;
                color: $black;
                font-weight: bold;
                margin-bottom: 5px;
                word-wrap: wrap;
                @media screen and (max-width: 400px) {
                    font-size: 18px;
                }
            }
           .buttons {
               display: flex;
               font-display: row;

               .svgAndText {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    margin-right: 20px;
                    align-items: center;
                    &:hover{
                        p {
                            color: $black;
                        }
                    }

                    p{
                        margin-left: 8px;
                        margin-left: 8px;
                        font-family: 'Proxima Nova Light',sans-serif;
                        font-weight: bold;
                        color: #696969;
                        font-size: 16px;
                        

                        &:hover{
                            color: $black;
                        }
                    }
                    .orange {
                        color: $orange;
                    }
                    @media screen and (max-width: 550px) {
                        border: 1px solid #dfdada;
                        width: 50%;
                        border-radius: 3px;
                        margin-bottom: 20px;
                        justify-content: center;
                        background-color: #fafafa;
                        margin-top: 16px;
                    }
                    @media screen and (max-width: 350px) {
                        margin-right: 10px;
                        p{
                            font-size: 14px;
                        };
                    }
               }
           } 
        }
    }
    .switch {
        margin-top: -20px;
        margin-right: 23px;
        @media screen and (max-width: 550px) {
            position: absolute;
            right: 5px;
            top: 60px;
        }
    }
}