@import '../variables.scss';

.topBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 72px;
    align-items: center;
    max-width: 1126px;
    margin: 0 auto;

    .rightNav {
        width: 70%;
        max-width: 530px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
        
        .links {
            a {
                margin: 0 17px;
    
                &:hover{ border-bottom: 2px solid #FC890D; }
            }
        }

        a{
            text-decoration: none;
            color: $black;
            font-weight: bold;
            padding: 25px 0;
        }

        .login>a:hover{
            border-bottom: 2px solid #FC890D;
        }
    }
}
