@import '../variables';

.navInfoContainer {
    max-width: 1172px;
    padding: 0 18px;
    margin: 0 auto;
    @media screen and (max-width: 550px) {
        display: none;
    }

    div {
        display: inline-block;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 5px;
        height: 64px;

        h4{
            margin-top: 23px;
            display: inline-block;
            color: #979FAD;
            font-size: $fz-s;
            padding-left: 12px;
            padding-right: 12px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child{
                color: #000;
            }

            a{
                text-decoration: none;
                color: inherit;
                

                &:hover{ color: #000; }
            }
        }

        .line{
            display: inline-block;
            width: 22px;
            height: 1px;
            background-color: #979FAD;
            margin-bottom: 2px;
        }
    }
}