@import '../variables.scss';

footer {
    background-color: #0099DD;
    border-bottom: 47px solid $dark-blue;
    
    .content {
        max-width: 1172px; 
        margin: 0 auto;
        padding: 27px 18px 47px 18px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        grid-gap: 20px;

        @media screen and (max-width: 960px){
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 100px
        }

        @media screen and (max-width: 550px){
            grid-template-columns: 1fr;
            grid-column-gap: 100px
        }

        .footerBlock {

            .line {
                height: 3px;
                width: 38px;
                background-color: #fff;
                margin-top: 12px;
                margin-bottom: 20px;
            }
            
            h1{
                color: #fff;
                font-size: 24px;
                font-family: 'Proxima Nova Light', sans-serif;
            }
            a {
                color: #fff;
                text-decoration: none;
    
                &:hover {
                    padding-left: 2px;
                }
            }
            ul {
                list-style-type: none;
                li{
                    font-size: 16px;
                    font-family: 'Proxima Nova Liqht', sans-serif;
                    margin-left: -40px;
                    margin-bottom: 13px;
                    font-weight: bold;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            @media screen and (max-width: 550px) {
                &:nth-child(-n+3) {
                    display: none;
                }
            }
        }
    }
}