.button {
    cursor: pointer;
    background-color: #FF8A02;
    border-radius: 3px;
    max-width: 248px;
    max-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 73px;

    p{
        color: #fff;
        font-size: 14px;
    }
}