@import '../../components/variables.scss';

.bg {
    background-color: #fafafa;
    padding-bottom: 200px;
    padding-top: 200px;
    .spinner {
        margin-left: 50%;
        transform: translateX(-50%); 
        height: 28px;
        width: 28px;
        animation: rotate 0.8s infinite linear;
        border: 8px solid $blue;
        border-right-color: transparent;
        border-radius: 50%;
      }
}
  
  @keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
  }